<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet">
    <link href="/static/css/dropdown.css" rel="stylesheet">
    <link href="/static/css/dropdown.min.css" rel="stylesheet">
    <link href="/static/css/g.css">
    <script src="/static/js/add_topic.js"></script>
    <script src="//cdn.bootcss.com/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/3.0.0-beta1/jquery.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
    <script src="/static/js/wangEditor.js"></script>
    <script src="/static/js/dropdown.min.js"></script>
    <script src="/static/js/dropdown.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/components/dropdown.min.js"></script>
    <script src="/static/js/topic.js"></script>
</head>
<body>
<div class="ui large menu fixed">
    <a class="item">
        <img class="ui avatar image" src="/static/img/shortcut-icon.png">
        <span>Allen</span>
    </a>
    <a class=" item" href="/">
        主页
    </a>
    <a class="active item" href="/topic">
        文章
    </a>
    {{if .IsLogin}}
    <a class="item" href="/category">
        分类
    </a>
    {{end}}
    <a>
        <form class="ui action input" style="margin-top: 10px;margin-left: 10px">
            <input type="text" placeholder="Search...">
            <button class="ui icon button">
                <i class="search icon"></i>
            </button>
        </form>
    </a>

    <div class="right menu">
        {{if .IsLogin}}
        <a class="item">
            账户管理
        </a>
        {{end}}
        <div class="item">
            {{if .IsLogin}}
            <a class="ui primary button" href="/login?exit=true">退出</a>
            {{else}}
            <a class="ui primary button" href="/login">登录</a>
            {{end}}
        </div>
    </div>
</div>
<div class="container" style="margin-top: 80px ; padding: 0 10% 0 10%">
    <form class="ui card" style="width: 100% ; padding: 3%" method="post" action="/topic" enctype="multipart/form-data">
        <div class="ui form">
            <div class="field">
                <label>标题</label>
                <input type="text" name="title" placeholder="输入你的标题" value="{{.Topic.Title}}">
            </div>
            <div class="inline fields">
                <div class="eight wide field">
                    <label>标签</label>
                </div>
                <div class="five wide field">
                    <label>分类</label>
                </div>
            </div>
            <div class="inline fields">
                <div class="eight wide field">
                    <input type="text" name="labels" placeholder="输入标签（空格分割）" value="{{.Topic.Labels}}">
                </div>
                <div class="eight wide field">
                    <input type="text" name="category" placeholder="输入分类" value="{{.Topic.Category}}">
                </div>
            </div>
            <div class="field">
                <label>正文:</label>
            <textarea name="content"  cols="1000" rows="250">
                {{.Topic.Content}}
            </textarea>
            </div>
            <div class="field">
                <input class="form-control" type="file" name="attachment" placeholder="添加附件">
            </div>
            <div class="field">
                <button class="positive ui button" type="submit">Positive Button</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>